.hide {
  display: none;
}
body {
  background-color: #f5f5f5;
}
#content .container {
  padding: 24px 0;
}
#content .side-menu {
  width: 208px;
  padding: 32px 0;
  float: left;
  background-color: white;
}
#content .side-menu .menu-box {
  margin: 0 42px 12px;
}
#content .side-menu .menu-box .title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 52px;
}
#content .side-menu .menu-box .list .item {
  padding: 6px 0;
}
#content .side-menu .menu-box .list .item.item-this a {
  color: #84B130;
}
#content .side-menu .menu-box .list .item a {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}
#content .side-menu .menu-box .list .item a:hover {
  color: #84B130 !important;
}
#content .main-box {
  width: 972px;
  padding: 36px 48px;
  background-color: white;
  box-sizing: border-box;
  float: right;
}
#content .main-box .potral-main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
#content .main-box .potral-main .user-card {
  position: relative;
  width: 298px;
  height: 160px;
  padding-left: 192px;
  padding-top: 40px;
}
#content .main-box .potral-main .user-card .avatar {
  cursor: pointer;
}
#content .main-box .potral-main .user-card .avatar .avatar-img {
  width: 160px;
  height: 160px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
}
#content .main-box .potral-main .user-card .avatar:hover::after {
  content: '编辑资料';
  width: 160px;
  height: 160px;
  border-radius: 50%;
  line-height: 160px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(26, 26, 26, 0.212);
  color: white;
  text-align: center;
  z-index: 10;
}
#content .main-box .potral-main .user-card .username {
  font-size: 24px;
  color: #616161;
  margin-bottom: 8px;
}
#content .main-box .potral-main .user-card .tip {
  margin-bottom: 10px;
  color: #b0b0b0;
}
#content .main-box .potral-main .user-card .link {
  font-size: 12px;
  color: #F1BC18;
}
#content .main-box .potral-main .user-actions {
  width: 340px;
  margin-top: 40px;
}
#content .main-box .potral-main .user-actions .action-list li {
  padding: 6px 0;
  color: #757575;
}
#content .main-box .potral-main .user-actions .action-list li .level {
  color: #F1BC18;
}
#content .main-box .potral-sub .info-list {
  width: 876px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
#content .main-box .potral-sub .info-list .item {
  width: 436px;
  margin-bottom: 80px;
  padding-left: 120px;
  box-sizing: border-box;
  position: relative;
}
#content .main-box .potral-sub .info-list .item .icon {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #84B130;
  line-height: 100px;
  text-align: center;
}
#content .main-box .potral-sub .info-list .item .icon .iconfont {
  font-size: 36px;
  color: white;
}
#content .main-box .potral-sub .info-list .item .name {
  font-size: 18px;
  color: #757575;
  margin-top: 24px;
  margin-bottom: 8px;
}
#content .main-box .potral-sub .info-list .item .name .num {
  color: #F1BC18;
}
#content .main-box .potral-sub .info-list .item a {
  color: #757575;
  font-size: 14px;
}
#content .main-box .potral-sub .info-list .item a .iconfont {
  font-size: 12px;
}
#content .main-box .potral-sub .info-list .item a:hover {
  color: #F1BC18;
}
