@active:#F1BC18;
@title:#333;
@desc:#757575;
@themeColor:#84B130;
@panelColor:#fff;
@bgColor:#f5f5f5;

body{
    background-color: @bgColor;
}

#content{
    .container{
        padding: 24px 0;
        display: flex;
        justify-content: space-between;
        align-content: space-between;
    }
    .side-menu{
        .layui-nav{
            width: 208px;
            padding: 24px 0 16px;
            background-color: white;
            .layui-nav-bar{
                display: none;
            }
            .layui-nav-item{
                margin-bottom: 8px;
                a{
                    padding: 0 28px;
                }
                &>a{
                    font-size: 16px;
                    font-weight: 700;
                    color: @title !important;
                    cursor: text;
                    &:hover{
                        background-color: transparent;
                    }
                }
                .layui-nav-more{
                    display: none;
                }
                .layui-nav-child{
                   background-color: white!important;
                   .layui-this{
                       color: @themeColor;
                       background-color: transparent;
                   }
                   a{
                       font-size: 14px;
                       font-weight: 500;
                        color: @desc !important;
                        &:hover{
                            color: @themeColor !important;
                        }
                        &.show{
                            color: @themeColor !important;
                        }
                   }
               } 
            }
        }
    }
    .main-box{
        width: 972px;
        .potral-main{
            width: 100%;
            padding: 32px;
            box-sizing: border-box;
            display: flex;
            justify-content: space-between;
            align-content: space-between;
            background-color: white;
            .user-card{
                position: relative;
                width: 298px;
                height: 160px;
                padding-left: 192px;
                padding-top: 40px;
                .avatar{
                    cursor: pointer;
                    .avatar-img{
                        width: 160px;
                        height: 160px;
                        padding: 4px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        border:1px solid #e0e0e0;
                        border-radius: 50%;
                        overflow: hidden;
                    } 
                    &:hover::after{
                        content: '编辑资料';
                        width: 160px;
                        height: 160px;
                        border-radius: 50%;
                        line-height: 160px;
                        position: absolute;
                        top: 5px;
                        left: 5px;
                        background-color: rgba(26, 26, 26, 0.212);
                        color: white;
                        text-align: center;
                        z-index: 10;
                    }
                }
                .username{
                    font-size: 24px;
                    color: #616161;
                    margin-bottom: 8px;
                }
                .tip{
                    margin-bottom: 10px;
                    color: #b0b0b0;
                }
                .link{
                    font-size:12px;
                    color: @active;
                }   
            }
            .user-actions{
                width: 340px;
                margin-top: 50px;
                .action-list{
                    li{
                        padding: 4px 0;
                        color: #757575;
                    }
                }
            }
        }
    }
}

