.hide {
  display: none;
}
body {
  background-color: #f5f5f5;
}
#content {
  /*******我的订单样式写这里********/
  /*个人信息*/
  /*收货地址*/
}
#content .container {
  padding: 24px 0;
}
#content .side-menu {
  width: 208px;
  padding: 32px 0;
  float: left;
  background-color: white;
}
#content .side-menu .menu-box {
  margin: 0 42px 12px;
}
#content .side-menu .menu-box .title {
  font-size: 16px;
  font-weight: 700;
  color: #333;
  line-height: 52px;
}
#content .side-menu .menu-box .list .item {
  padding: 6px 0;
}
#content .side-menu .menu-box .list .item.item-this a {
  color: #84B130;
}
#content .side-menu .menu-box .list .item a {
  font-size: 14px;
  font-weight: 500;
  color: #757575;
}
#content .side-menu .menu-box .list .item a:hover {
  color: #84B130 !important;
}
#content .main-box {
  width: 972px;
  padding: 36px 48px;
  background-color: white;
  box-sizing: border-box;
  float: right;
}
#content .main-box .box-hd .title {
  font-size: 24px;
  color: #666;
  margin-bottom: 18px;
  font-weight: 500;
}
#content .main-box .box-bd .more {
  width: 100%;
}
#content .main-box .box-bd .more .filter-list {
  padding: 10px 0;
}
#content .main-box .box-bd .more .filter-list li {
  display: inline-block;
  padding-right: 20px;
}
#content .main-box .box-bd .more .filter-list li .txt {
  display: inline-block;
  padding-bottom: 4px;
  color: #333;
}
#content .main-box .box-bd .more .filter-list li .txt:hover {
  color: #84B130;
}
#content .main-box .box-bd .more .filter-list li .recycle {
  color: #757575;
  margin-left: 26px;
  position: relative;
}
#content .main-box .box-bd .more .filter-list li .recycle::before {
  content: '';
  position: absolute;
  top: 5px;
  left: -25px;
  width: 1px;
  height: 14px;
  background-color: #ddd;
}
#content .main-box .box-bd .more .filter-list li .txt-this {
  color: #84B130;
  border-bottom: 2px solid #84B130;
}
#content .main-box-0 .potral-main {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  border-bottom: 1px solid #e0e0e0;
}
#content .main-box-0 .potral-main .user-card {
  position: relative;
  width: 298px;
  height: 160px;
  padding-left: 192px;
  padding-top: 40px;
}
#content .main-box-0 .potral-main .user-card .avatar {
  cursor: pointer;
}
#content .main-box-0 .potral-main .user-card .avatar .avatar-img {
  width: 160px;
  height: 160px;
  padding: 4px;
  position: absolute;
  top: 0;
  left: 0;
  border: 1px solid #e0e0e0;
  border-radius: 50%;
  overflow: hidden;
}
#content .main-box-0 .potral-main .user-card .avatar:hover::after {
  content: '编辑资料';
  width: 160px;
  height: 160px;
  border-radius: 50%;
  line-height: 160px;
  position: absolute;
  top: 5px;
  left: 5px;
  background-color: rgba(26, 26, 26, 0.212);
  color: white;
  text-align: center;
  z-index: 10;
}
#content .main-box-0 .potral-main .user-card .username {
  font-size: 24px;
  font-weight: 500;
  color: #616161;
  margin-bottom: 8px;
}
#content .main-box-0 .potral-main .user-card .tip {
  margin-bottom: 10px;
  color: #b0b0b0;
}
#content .main-box-0 .potral-main .user-card .link {
  font-size: 12px;
  color: #F1BC18;
}
#content .main-box-0 .potral-main .user-actions {
  width: 340px;
  margin-top: 40px;
}
#content .main-box-0 .potral-main .user-actions .action-list li {
  padding: 6px 0;
  color: #757575;
}
#content .main-box-0 .potral-main .user-actions .action-list li .level {
  color: #F1BC18;
}
#content .main-box-0 .potral-sub .info-list {
  width: 876px;
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  flex-wrap: wrap;
  padding-top: 60px;
}
#content .main-box-0 .potral-sub .info-list .item {
  width: 436px;
  margin-bottom: 80px;
  padding-left: 120px;
  box-sizing: border-box;
  position: relative;
}
#content .main-box-0 .potral-sub .info-list .item .icon {
  position: absolute;
  top: 0;
  left: 0;
  float: left;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #84B130;
  line-height: 100px;
  text-align: center;
}
#content .main-box-0 .potral-sub .info-list .item .icon .iconfont {
  font-size: 36px;
  color: white;
}
#content .main-box-0 .potral-sub .info-list .item .name {
  font-size: 18px;
  font-weight: 500;
  color: #757575;
  margin-top: 24px;
  margin-bottom: 8px;
}
#content .main-box-0 .potral-sub .info-list .item .name .num {
  color: #F1BC18;
}
#content .main-box-0 .potral-sub .info-list .item a {
  color: #757575;
  font-size: 14px;
}
#content .main-box-0 .potral-sub .info-list .item a .iconfont {
  font-size: 12px;
}
#content .main-box-0 .potral-sub .info-list .item a:hover {
  color: #F1BC18;
}
#content .main-box-1 .list-head {
  float: left;
  width: 100%;
}
#content .main-box-1 .list-head p {
  margin-top: 10px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
  background-color: #f3f3f3;
}
#content .main-box-1 .list-head p span {
  display: inline-block;
}
#content .main-box-1 .list-head p .one {
  width: 450px;
  text-align: center;
}
#content .main-box-1 .list-head p .two {
  width: 96px;
  text-align: center;
}
#content .main-box-1 .list-head p .three {
  width: 90px;
  text-align: center;
}
#content .main-box-1 .list-head p .four {
  width: 118px;
  text-align: center;
}
#content .main-box-1 .list-head p .five {
  width: 102px;
  text-align: center;
}
#content .main-box-1 .order-list-cont {
  padding-top: 70px;
}
#content .main-box-1 .order-list-cont .order-list .list-item {
  margin-bottom: 18px;
  border: 1px solid #dddddd;
}
#content .main-box-1 .order-list-cont .order-list .list-item:hover p .del {
  opacity: 1;
}
#content .main-box-1 .order-list-cont .order-list .list-item p {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: darkgray;
  padding-left: 12px;
  font-weight: 500;
  border-bottom: 1px solid #dddddd;
  position: relative;
}
#content .main-box-1 .order-list-cont .order-list .list-item p span {
  color: #333;
  font-weight: 400;
  cursor: pointer;
}
#content .main-box-1 .order-list-cont .order-list .list-item p span:hover {
  color: #F1BC18;
}
#content .main-box-1 .order-list-cont .order-list .list-item p .del {
  position: absolute;
  right: 0;
  top: 0;
  opacity: 0;
  transition: 0.2s ease;
  padding: 0 12px;
}
#content .main-box-1 .order-list-cont .order-list .list-item p .del:hover {
  color: #F1BC18;
}
#content .main-box-1 .order-list-cont .order-list .list-item section {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 110px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-one {
  width: 450px;
  padding: 10px 0 10px 10px;
  margin: auto 0;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-one img {
  width: 60px;
  height: 60px;
  border: 1px solid #dddddd;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-one .one {
  display: inline-block;
  width: 240px;
  font-size: 12px;
  word-wrap: break-word;
  cursor: pointer;
  padding-left: 10px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-one .one:hover {
  color: #F1BC18;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-one .two {
  display: inline-block;
  width: 80px;
  text-align: center;
  font-size: 12px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-two {
  width: 100px;
  text-align: center;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  position: relative;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-two span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  width: 80px;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  font-size: 12px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-three {
  width: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  text-align: center;
  border-right: 1px solid #dddddd;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-three .one {
  width: 80px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-three .two {
  width: 88px;
  height: 30px;
  font-size: 12px;
  padding-top: 10px;
  border-top: 1px solid #dddddd;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-four {
  width: 100px;
  text-align: center;
  border-right: 1px solid #dddddd;
  padding: 50px 10px;
  font-size: 12px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five {
  width: 110px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  position: relative;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .one {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  font-size: 12px;
  right: 8px;
  top: -24px;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .one:hover {
  color: #F1BC18;
  background-color: white;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .two {
  display: inline-block;
  width: 80px;
  height: 30px;
  font-size: 12px;
  margin-top: 5px;
  background-color: #f3f3f3;
  border: 1px solid #dddddd;
  line-height: 30px;
  cursor: pointer;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .two:hover {
  border: 1px solid #F1BC18;
  color: #F1BC18;
  background-color: white;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .three {
  width: 88px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  border-bottom: 1px solid #dddddd;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .three a {
  color: #333;
}
#content .main-box-1 .order-list-cont .order-list .list-item section .order-five .three a:hover {
  color: #F1BC18;
}
#content .form .item {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 30px;
}
#content .form .item .label {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 8px 0;
  width: 100px;
  text-align: right;
}
#content .form .item .label em {
  color: #e4393c;
  text-align: right;
  line-height: 18px;
}
#content .form .item input[type=text] {
  height: 18px;
  line-height: 18px;
  width: 148px;
  padding: 8px 24px 8px 8px;
  border: 1px solid #ccc;
}
#content .form .item .tip {
  color: #757575;
  margin-left: 8px;
}
#content .btn {
  display: inline-block;
  width: 68px;
  height: 24px;
  line-height: 24px;
  background: linear-gradient(to bottom, #f5fbef 0, #eaf6e2 100%);
  border-radius: 2px;
  border: 1px solid #bfd6af;
  color: #333;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
#content .main-box-2 .btn {
  display: inline-block;
  width: 68px;
  height: 24px;
  line-height: 24px;
  background: linear-gradient(to bottom, #f5fbef 0, #eaf6e2 100%);
  border-radius: 2px;
  border: 1px solid #bfd6af;
  color: #333;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}
#content .main-box-2 .user-set {
  width: 500px;
  padding: 30px 5px 0 0;
}
#content .main-box-2 .user-set .userinfo-form .txt-err {
  border-color: #e4393c !important;
  color: #e4393c;
  background: url(../images/error-ico.png) no-repeat right center;
}
#content .main-box-2 .user-set .userinfo-form .txt-succ {
  background: url(../images/succ-ico.png) no-repeat right center;
}
#content .main-box-2 .user-set .userinfo-form .item {
  line-height: 33px;
}
#content .main-box-2 .user-set .userinfo-form .item .tip {
  color: #757575;
  margin-left: 8px;
}
#content .main-box-2 .user-set .userinfo-form .item .err {
  color: #e4393c;
}
#content .main-box-2 .user-set .userinfo-form .item .radio {
  vertical-align: -2px;
  margin-right: 3px;
}
#content .main-box-2 .user-set .userinfo-form .item .gender {
  margin-right: 10px;
}
#content .main-box-2 .user-set .userinfo-form .item .interest {
  line-height: 32px;
  width: 400px;
}
#content .main-box-2 .user-set .userinfo-form .item .interest .interest-list .interest-item {
  float: left;
  height: 18px;
  line-height: 18px;
  padding: 8px 16px;
  margin: 10px 10px 0 0;
  border: 1px solid #cfcfcf;
  cursor: pointer;
}
#content .main-box-2 .user-set .userinfo-form .item .interest .interest-list .interest-item:hover {
  color: #84B130;
  border-color: #84B130;
}
#content .main-box-2 .user-set .userinfo-form .item .interest .interest-list .interest-item.item-this {
  border: 2px solid #84B130;
  padding: 7px 15px;
  position: relative;
}
#content .main-box-2 .user-set .userinfo-form .item .interest .interest-list .interest-item.item-this b {
  display: block;
  position: absolute;
  right: -1px;
  bottom: 0;
  width: 12px;
  height: 12px;
  background-color: #84B130;
  clip-path: polygon(100% 0, 0 100%, 100% 100%);
}
#content .main-box-2 .user-set .userinfo-form .item .interest .interest-list .interest-item.item-this b::after {
  content: '';
  width: 2px;
  height: 5px;
  transform: rotate(45deg);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  right: 1px;
  bottom: 1px;
}
#content .main-box-2 .update-img {
  width: 500px;
  padding: 18px 5px 0 0;
}
#content .main-box-2 .update-img .select {
  display: inline-block;
  width: 180px;
  height: 36px;
  line-height: 36px;
  margin-bottom: 8px;
  background: linear-gradient(to bottom, #ffffff 10%, #f9f9f9 100%);
  border: 1px solid #e3e4e6;
  border-radius: 2px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  position: relative;
}
#content .main-box-2 .update-img .select input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
#content .main-box-2 .update-img .tip {
  color: #757575;
  font-size: 12px;
  margin-bottom: 18px;
}
#content .main-box-2 .update-img .update-box {
  width: 470px;
  height: 236px;
  margin-bottom: 20px;
  background: #f9f9f9;
  text-align: center;
  background-size: cover;
  border: 1px solid #e9eaec;
  position: relative;
}
#content .main-box-2 .update-img .update-box .img-cont {
  width: 150px;
  height: 150px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url(../images/photo.jpg) no-repeat center;
  background-size: cover;
  z-index: 5;
}
#content .main-box-2 .update-img .save-btn {
  margin-top: 10px;
}
#content .main-box-3 .add-more .head-tip {
  width: 100%;
  height: 36px;
  line-height: 36px;
  box-sizing: border-box;
  padding-left: 12px;
  background-color: #fffbf3;
  font-size: 12px;
  color: #F1BC18;
}
#content .main-box-3 .add-more .addr-form {
  margin-top: 30px;
}
#content .main-box-3 .add-more .addr-form .item1 {
  margin-bottom: 0px;
}
#content .main-box-3 .add-more .addr-form .item .txt1 {
  width: 429px;
}
#content .main-box-3 .add-more .addr-form .item .tip {
  margin-left: 0;
}
#content .main-box-3 .add-more .addr-form .item .checkbox-inner {
  display: inline-block;
  width: 14px;
  height: 14px;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #ccc;
  position: relative;
  transition: 0.2s ease;
}
#content .main-box-3 .add-more .addr-form .item .checkbox-inner input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 16px;
  height: 16px;
  cursor: pointer;
  z-index: 10;
}
#content .main-box-3 .add-more .addr-form .item .checkbox-label {
  vertical-align: 3px;
  margin-left: 4px;
}
#content .main-box-3 .add-more .addr-form .item .checked .checkbox-inner {
  background-color: #84B130;
  border-color: transparent;
  position: relative;
}
#content .main-box-3 .add-more .addr-form .item .checked .checkbox-inner::after {
  content: '';
  width: 3px;
  height: 7px;
  transform: rotate(45deg);
  border-bottom: 2px solid white;
  border-right: 2px solid white;
  position: absolute;
  top: 2px;
  left: 4px;
}
#content .main-box-3 .add-more select {
  height: 35px;
  margin-right: 6px;
  line-height: 18px;
  width: 148px;
  padding-left: 8px;
  font-size: 12px;
  color: #666;
  border: 1px solid #ccc;
}
#content .main-box-3 .address-list {
  box-sizing: border-box;
  border: 1px solid #e6e6e6;
}
#content .main-box-3 .address-list .addr-item .item-head {
  height: 40px;
  padding-left: 24px;
  line-height: 40px;
  font-size: 14px;
  color: #666;
}
#content .main-box-3 .address-list .addr-item .item-head h3 {
  display: inline-block;
}
#content .main-box-3 .address-list .addr-item .item-head .flag {
  margin-left: 4px;
  padding: 4px;
  background-color: #F1BC18;
  font-size: 12px;
  color: white;
}
#content .main-box-3 .address-list .addr-item .item-cont {
  margin-top: 14px;
}
#content .main-box-3 .address-list .addr-item .item-cont .item {
  margin-bottom: 10px;
}
#content .main-box-3 .address-list .addr-item .item-cont .item .label {
  color: #757575;
}
.x0p.default .title {
  font-size: 22px !important;
  font-weight: 500 !important;
}
.x0p.default .button-ok {
  background-color: #84B130 !important;
}
.x0p.default .button-warning {
  color: #757575 !important;
  background-color: #f3f3f3 !important;
}
.xi-ok span::before,
.xi-ok span::after {
  background-color: #84B130 !important;
}
